@font-face {
	font-family: 'TNG_Credits';
	src: url('../fonts/TNG_Credits.woff') format('woff');
}
@font-face {
	font-family: 'TNG_Title';
	src: url('../fonts/TNG_Title.woff') format('woff');
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'TNG_Credits', Arial, Helvetica, san-serif;
}

h1 {
	font-family: 'TNG_Title', Arial, Helvetica, san-serif;
	font-size: 400%;
	text-align: center;
	color: white;
	position: center;
}
h2 {
	font-family: 'TNG_Credits', Arial, Helvetica, san-serif;
	font-size: 200%;
	text-align: center;
	color: white;
	position: center;
}